h1 {
    text-align: center;
}

#container {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

#container input {
    padding: 5px
}

#container button {
    padding: 10px;
    margin-top: 15px;
}

#lista {
    margin-left: 20rem;
}