
Site-colaborativo-secretariaEscola/
Exercícios/Exercícios Lógica Lucas/porcentagemVotos/index.html
Exercícios/Exercícios Lógica Lucas/porcentagemVotos/script.js
Exercícios/Exercícios Lógica Lucas/porcentagemVotos/style.css
Exercícios/Exercícios Lógica Lucas/numero100/index.html
Exercícios/Exercícios Lógica Lucas/numero100/index.html
