body {
    background-color: rgb(58, 52, 52);
    color: white;
    text-align: center;
}

#box{
    border: 1px solid;
    margin: 50px 500px 50px 500px;
    padding: 30px;
}

input {
    background-color:grey
    heigth: 40px;
    width: 200px;
    padding: 20px;
    font-size: 18px;
    margin: 8px auto;
}

button {
    width: 200px;
    height: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}