body{
    background-color:rgb(215, 233, 241);
    font-family: monospace;
    text-align: center;
}

#form{
    font-size: 40px;
    border: 3px solid white;
    padding: 30px 0 30px 0;
    margin: 100px 400px 80px 400px;
}

input{
    margin: 20px 0 0 20px;
    width: 360px;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

#res {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    font-size: 40px;
}