p, table {
    display: none;
    background-color: rgb(200, 228, 221);
    padding: 20px;
}
  
div:hover table, p {
    display: block;
}

header{
    text-align: center;
    font: normal 18px black;
}

hr {
    margin-left: 180px;
    margin-right: 180px;
}

body{
      background-color: rgba(220, 224, 231, 0.336);
}

h1{
    font: normal 50px Arial;
    text-align: center;
    text-shadow:2px 2px rgba(0, 0, 0, 0.068);
}

h2{text-align: left;}

p{font: x-large Times;}


section{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
    text-align: center;
}

table, tr, th{
    text-align: center;
    border: 1px solid black;
    padding: 6pt;
    font: normal 15pt Arial;
    width: 200px;
}

th{background-color: white;}

table{
    margin-left: 148px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(245, 242, 235);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 7pt;
  }