body {
    text-align: center;
    background-color: rgba(207, 183, 183, 0.308);
}

#container {
    background-color: rgba(232, 245, 50, 0.692);
    padding: 1rem 2rem;
    border: 1px solid black;
    margin: 5rem 19rem 2rem 19rem;
}

#container label {
    text-align: left;
}

#container input {
    padding: 0.4rem;
    margin: 0.2rem;
}

#container #button {
    margin-top: 2rem;
}

#res {
    font-size: 1.6rem;
    text-align: left;
}

#resTotal {
    font-size: 1.8rem;
    color:red;
}
